body {
  text-align: center;
  min-width: 12em;
}

body > * {
  margin: 4px;
}

.invisible {
  display: none;
}

#startButton {
  background-color: #cfffd5;
}

#stopButton {
  background-color: #faa0a0;
}
